<% render 'layouts/embedded_topbar' %>
<div class = "jumbotron">
  <h2>Recent Product Collections</h2>
  <div class="well" id="home_index_well">
    <p id = "collect_count"> Custom collections: <%= @collections.count %></p>
    <% @collections.each do |collection| %>
      <ul>
        <li>
        <%= collection.title %>
        <%= link_to "delete", collection, id: "delete_collection", method: :delete,
          data: { confirm: "Are you sure you want to delete '#{collection.title}?'" },
                                          title: collection.title %>
        </li>
      </ul>
    <% end %>

    <p id = "live_count">Live Collections: <%= @live_collections.count %></p>
    <p id = "live_last_run">Last run: <%= @live_collections.last_run %></p>
    <% @live_collections.each do |live| %>
      <ul>
        <li>
        <%= live.title %>
        <%= link_to "delete", live, id: "delete_live", method: :delete,
          data: { confirm: "Are you sure you want to delete '#{live.title}?'" },
                                          title: live.title %>
        </li>
      </ul>
    <% end %>
  </div>
  <%= link_to "Create new collection", new_collection_path, :class => "btn btn-lg btn-primary", :id => "new_collection_button"%>
  <%= link_to "Create new 'Live' collection", new_live_collection_path, :class => "btn btn-lg btn-success", :id => "new_live_collection_button" %>
</div>
